/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


input.razorpay-payment-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	line-height: 24px;
	background-color: #1ABC9C;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


input.razorpay-payment-button:hover {
	background-color: #444;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#about-front {
	background: url('../images/bg-about.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.fbox-effect .fbox-icon i:hover, .fbox-effect:hover .fbox-icon i {
    background-color: #0d6965;
    color: #FFF;
}

.fbox-effect .fbox-icon i::after {
	box-shadow: 0 0 0 2px #0d6965;
}